.section {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(164, 234, 210);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
}
.section p{
    font-style: italic;
    font-size: 100;
    padding: 10px;
    margin-right: 50px;
    color: rgb(88, 109, 129);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}